* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter', Courier, monospace;
    outline: none;
}

:root {
    --cor1: #031CA6;
    --cor2: #6371BF;
    --cor3: #031CA6;
    --cor4: #A9ABD9;
    --w: #F2F2F2;
}

.layout {
    width: 100%;
}

.frame01_header {
    width: 100%;
    height: 60px;
    background-color: var(--cor1);
}

#mainframe01 {
    margin: 0 auto;
    width: 1080px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchbar {
    display: flex;
    width: 100px;
    height: 30px;
}


.searchbar input,
.searchbar i {
    background-color: #6371BF;
    border: none;
    color: white;
    outline: none;
    display: flex;
    align-items: center;
}

.searchbar input {
    border-radius: 10px 0px 0px 10px;
}

.searchbar i {
    width: 100%;
    height: 100%;
    border-radius: 0px 10px 10px 0px;
    padding: 10px;
}

.conta,
.pedidos {
    display: flex;
}

.flex {
    display: flex;
}

.text_header {
    display: flex;
    flex-direction: column;
    line-height: 100%;
}

.actions span {
    font-size: 32px;
    margin-left: 3px;
}

.actions {
    color: white;
    width: 400px;
    display: flex;
    justify-content: space-evenly;
}

/* !Inicio da Navbar */

.frame01_nav {
    width: 100%;
    height: 30px;
    background-color: var(--cor2);
}

nav {
    margin: 0 auto;
    width: 1080px;
    height: 100%;
    background-color: var(--cor2);
}

.frame01_promocoes {
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2rem;
}

.frame01_promo {
    width: 80%;
    border: 2px solid black;
    position: relative;
    overflow: hidden;
}

.frame01_promo img {
    width: 100%;
    height: 100%;
}

.frame01_seta_direita,
.frame01_seta_esquerda {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3em;
    cursor: pointer;
}

.frame01_seta_esquerda {
    left: 10px;
}

.frame01_seta_direita {
    right: 10px;
}

.frame01_dots {
    margin-top: 10px;
    bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.dots {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

.dot {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: #ccc;
}

.dot.active {
    background-color: #000000;
}

#divisao_promo{
    margin-top: 2rem;
    border-top: 2px solid #000000;
}