* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;

}

:root {
    --cor1: #031CA6;
    --cor2: #6371BF;
    --cor3: #031CA6;
    --cor4: #A9ABD9;
    --w: #F2F2F2;
}

.actions a {
    color: white;
}

.layout {
    width: 100%;
}

.frame01_header {
    width: 100%;
    height: 60px;
    background-color: var(--cor1);
}

#mainframe01 {
    margin: 0 auto;
    width: 1080px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchbar {
    display: flex;
    width: 30%;
    height: 30px;
    /* background-color: aqua; */
}

#mainframe01 img {
    width: 90px;
    height: 67px;
}


.searchbar input,
.searchbar i {
    background-color: #6371BF;
    border: none;
    color: white;
    outline: none;
    display: flex;
    align-items: center;
}

.searchbar input {
    border-radius: 10px 0px 0px 10px;
}

.searchbar i {
    width: 100%;
    height: 100%;
    border-radius: 0px 10px 10px 0px;
    padding: 10px;
}

/*COMENTARIO FODA*/

.conta,
.pedidos {
    display: flex;
}

.flex {
    display: flex;
}

.text_header {
    display: flex;
    flex-direction: column;
    line-height: 100%;
}

.actions span {
    font-size: 32px;
    margin-left: 3px;
    font-weight: 200;
}

.actions {
    /* background-color: rgb(0, 0, 0); */
    color: white;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.equipe_text {
    margin-left: 3px;
}

.nosso_time span {
    font-size: 40px;
    margin-top: -5px;
}


/* !Inicio da Navbar */

.frame01_nav {
    width: 100%;
    height: 30px;
    background-color: var(--cor2);
}

nav {
    margin: 0 auto;
    width: 1080px;
    height: 100%;
    background-color: var(--cor2);
}


.frame01_promocoes {
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2rem;
}

.frame01_promo {
    width: 80%;
    border: 2px solid black;
    position: relative;
    overflow: hidden;
}

.frame01_promo img {
    width: 100%;
    height: 100%;
}

.frame01_seta_direita,
.frame01_seta_esquerda {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3em;
    cursor: pointer;
}


.frame01_seta_esquerda {
    left: 10px;
}

.frame01_seta_direita {
    right: 10px;
}

.frame01_seta_esquerda:hover {
    color: white;
}

.frame01_seta_direita:hover {
    color: white;
}

.frame01_dots {
    margin-top: 10px;
    bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.dots {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

.dot {
    width: 15px;
    height: 15px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: #ccc;
}

.dot.active {
    background-color: #000000;
}

.frame02_menucategorias {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
}

.categoria {
    width: 200px;
    height: 270px;
    padding: 10px;
    margin: auto;
    border-top-right-radius: 35px;
    border-top-left-radius: 35px;
    color: white;
    font-style: italic;
    font-weight: lighter;
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.5s ease-out;
}


.categoria:hover {
    width: 207px;
    height: 277px;
    cursor: pointer;
}

.aside {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#categoria1 {
    background-image: url('/Assets/IMG/MenuCategorias/card.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.frame02_titulocategorias {
    text-align: center;
}

.categoria img {
    width: 100%;
    margin-top: 30px;
}

.padaria img {
    margin-top: 45px;

}

.acougue img {
    margin-top: 50px;
    margin-left: 10px;
}

.frame02_grid_ofertas {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
}


.grid-produtos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}



.frame02_grid_ofertas h1{
    text-align: center;
    font-style: italic;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.produto {
    margin: 20px;
    background-color: #fff;
    padding: 20px;
    border: 2px solid #03178c;
    border-radius: 35px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Adiciona sombra para dar profundidade */
}


.produto img {
    width: 80%;
    position: relative;
    max-height: 170px;
    max-width: 100px;
}

.produto h2, .preco-antigo, .preco-novo {
    bottom: 0;
    width: 100%;   
    padding: 5px 10px;
}

.preco-antigo {
    display: inline-block;
    text-decoration: line-through;
    color: #999;
}

.preco-novo {
    font-size: 1.2em; 
    color: #009900;
}

#imgchocolate{
    margin-top:50px;
    margin-bottom: 40px;
}